/* System Fonts as used by Medium and WordPress */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#content {
    display: flex;
    flex-direction: row;
}

#container {
    display: grid;
    grid-auto-flow: row dense;
    width: 75%;
    margin-left: 10%;
}

#sideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    margin: 0;
    border-right: 2px solid black;
    box-shadow: 2px 0 6px black;
}

#sideBar div {
    margin: 1em;
}

.sticky {
    display: flex;
    flex-direction: column;
    background: yellow;
    padding: 3em 2em;
    margin: 1em;
    box-shadow: 0.5em 0.5em red;
}

.title:hover, .isPriority:hover, .dueDate:hover, .description:hover, .isChecked:hover, .notes:hover, .remove:hover, #addSticky:hover, #clearChecks:hover {
    cursor: pointer;
}

.isPriority {
    color: red;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    font-size: 2.2em;
    order: 1;
}

.isPriority:hover {
    -webkit-text-fill-color: yellow;
}

.isNotPriority {
    -webkit-text-fill-color: yellow;
}

.isNotPriority:hover {
    -webkit-text-fill-color: red;
}

.title {
    order: 2;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.description {
    font-size: 1.3em;
    order: 2;
}

.dueDate {
    font-size: 1.25em;
    order: 1;
}

.notes {
    margin-top: 0.6em;
    order: 2;
    font-size: 1.15em;
}

.isChecked {
    order: 0;
}

.description, .isChecked, .description, .title, .notes, .dueDate {
    width: max-content;
}

.remove {
    color: white;
    background: black;
    padding: 0.5em;
    width: 0.6em;
    height: 1em;
    order: 0;
}

.remove:hover {
    background: red;
}