/* System Fonts as used by Medium and WordPress */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html, body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
}

#container {
    display: grid;
    grid-auto-flow: row dense;
    width: 100%;
    grid-template-columns: 1vw 1vw 1vw;
    grid-column-gap: 25vw;
    margin-left: 16%;
    margin-top: 1%;
}

.empty {
    color: gray;
}

#sideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 9%;
    background-color: whitesmoke;
}

.sticky {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: yellow;
    padding: 2vh 2vw;
    width: 19vw;
    height: 36vh;
    margin: 80%;
    box-shadow: 0.75rem 0.75rem red;
}

.title:hover, .isPriority:hover, .dueDate:hover, .description:hover, .isChecked:hover, .notes:hover, .remove:hover, .sideItem:hover {
    cursor: pointer;
}

.isPriority {
    color: red;
    font-size: 200%;
    order: 1;
    flex: 0 0 5%;
    text-align: center;
    align-self: baseline;
    margin-right: 3%;
}

.isPriority:hover {
    color: gray;
}

.isNotPriority {
    color: gray;
}

.isNotPriority:hover {
    color: red;
}

.title, .description, .notes {
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 2px solid gray;
    /* Firefox on windows looks a little ugly if we don't set scrollbar-width to none. */
    scrollbar-width: none;
}

.title {
    order: 3;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 4%;
    flex: 0 0 100%;
    align-self: flex-start;
    max-height: 200%;
}

.description {
    font-size: 130%;
    order: 3;
    flex: 0 0 100%;
    align-self: flex-start;
    max-height: 260%;
}

.dueDate {
    font-size: 125%;
    order: 2;
    flex: 1 0 45%;
    align-self: flex-start;
    margin-right: 35%;
}

.notes {
    margin-top: 4%;
    order: 4;
    font-size: 115%;
    align-self: flex-start;
    flex: 0 0 100%;
    max-height: 260%;
}

.isChecked {
    /* This doesn't necesarrily mean isChecked is true, just refers to its bos */
    order: 5;
    align-self: flex-end;
    flex: 0 0 5%;
    color: gray;
    font-size: 150%;
}

.isChecked:hover {
    color: red;
}

.checked {
    /* This is for when the checkbox is true */
    color: red;
}

.checked:hover {
    color: gray;
}

.description, .isChecked, .description, .title, .notes, .dueDate {
    width: max-content;
}

.remove {
    color: gray;
    margin-left: 2%;
    font-size: 170%;
    order: 0;
    flex: 0 0 1%;
    margin-top: 3px;
    align-self: flex-start;
}

.remove:hover {
    color: red;
}

#credit {
    font-weight: bold;
}

#credit:hover {
    cursor: auto;
}

#credit a, #credit:visited {
    color: firebrick;
    text-decoration: none;
}

#credit a:hover {
    color: red;
}

#dividerCredit {
    height: 100%;
}

#sideBar .fas {
    font-size: 140%;
    border-radius: 5px;
    align-self: center;
}

#sideBar span {
    margin-left: 7%;
}

#addStickyButtonText {
    margin: 0;
    padding: 0;
    align-self: center;
}

#dividerClear, #dividerSort {
    height: 3%;
}

.sideItem {
    padding: 6%;
}

.sideItem:hover {
    background: #dddddd;
    color: teal;
}

.sticky input {
    border: 0;
    background: #cfcf01;
    padding: 2px;
    border-radius: 6px;
    color: white;
}

span#clearChecksText {
    margin-left: 5%;
}

#projectsOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 2;
}

#projectsWindow {
    position: fixed;
    top: 10%;
    left: 23%;
    width: 400px;
    height: 560px;
    background-color: whitesmoke;
    z-index: 3;
    display: flex;
    flex-direction: row;
}

#closeProjects {
    cursor: pointer;
    flex: 0 0 1%;
    color: gray;
    font-size: 220%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: auto;
}

#closeProjects:hover {
    color: red;
}

#projectsContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
    flex: 1;
}

.project, .newProject {
    box-sizing: border-box;
    padding: 7.1%;
    width: 100%;
}

.project:hover, .newProject:hover {
    background: whitesmoke;
    cursor: pointer;
}

.project i {
    margin-left: 10%;
    color: grey;
    font-size: 130%;
}

.project i:hover {
    color: red;
}

.newProject {
    font-size: 120%;
    padding-left: 0;
    text-align: center;
}

.newProject i {
    margin-right: 6%;
}

#newProjectId {
    border: 0;
    margin-left: 4%;
    padding: 1%;
    background: whitesmoke;
}

/* Phone Portrait Styling */

@media only screen and (max-width: 600px) {
    #content {
        flex-direction: column;
        width: 100vw;
    }
    #sideBar {
        width: 100%;
        height: max-content;
        flex-direction: row;
        box-shadow: 0 2px 6px black;
    }
    #container {
        margin: 13vh 0 5vh 0;
        width: 100%;
        grid-template-columns: 5vw;
    }
    .sticky {
        box-sizing: border-box;
        padding: 3vh 4vw;
        width: 84vw;
        height: 49vh;
        margin-left: 150%;
    }
    .notes {
        max-height: 3.7em;
    }
    .divider, #credit {
        display: none;
    }
    .sideItem span {
        display: none;
    }
    #projectsWindow {
        width: 250px;
        height: 400px;
        left: 20%;
        top: 20%;
    }
}

/* Phone Landscape Styling */

@media only screen and (max-width: 900px) and (orientation: landscape) {
    #dividerClear, #dividerSort, #dividerCredit, .sideItem span, #credit {
        display: none;
    }
    #sideBar {
        box-shadow: 2px 0 6px black;
    }
    #sideBar .sideItem {
        padding: 6vh 2.5vw;
    }
    #container {
        grid-template-columns: 1vw;
        grid-row-gap: 5vh;
        margin-left: 13vw;
        margin-top: 2.5vh;
        margin-bottom: 10vh;
    }
    .sticky {
        box-sizing: border-box;
        padding: 4vh 4vw;
        width: 81vw;
        height: 90vh;
    }
    #projectsWindow {
        top: 3vh;
        left: 2vw;
        height: 94vh;
        width: 96vw;
    }
    .project, .newProject {
        padding: 7vh 5vw;
        padding-left: 4vw;
    }
    .newProject {
        text-align: left;
    }
}

/* Tablet styling landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #container {
        width: 100%;
        grid-template-columns: 2vw 2vw;
        grid-column-gap: 37vw;
    }
    .sticky {
        box-sizing: border-box;
        padding: 2vh 2vw;
        width: 35vw;
        height: 50vh;
        margin-left: 150%;
    }
}

/* Tablet styling portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #container {
        width: 100%;
        grid-template-columns: 1vw;
        grid-row-gap: 3vh;
        margin-left: 28vw;
        margin-top: 2vh;
    }
    .sticky {
        box-sizing: border-box;
        padding: 2vh 2vw;
        width: 60vw;
        height: 45vh;
    }
    #sideBar {
        width: 20%;
    }
}